APP_NAME=Meta Ads Reporter
APP_ENV=development
HOST=0.0.0.0
PORT=8000
DEBUG=False

# AdsPower & Facebook
ADSPOWER_PROFILE_ID=k1dvlyr0
FACEBOOK_ACCOUNT_ID=1559140139101704
ADSPOWER_BASE_URL=http://local.adspower.net:50325

# Telegram Bot
BOT_TOKEN=your_telegram_bot_token_from_botfather
API_BASE_URL=http://127.0.0.1:8000
DEFAULT_TIMEOUT=120
TELEGRAM_CHAT_ID=your_telegram_chat_id
